body {
  width: 900px;
  padding: 50px;
  font-family: sans-serif, arial;

}
.title {
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
h1
{
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
