<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angular Factory Project</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>

  </head>
  <body>
    <div class="container">
      <h2>Movie Storage</h2><hr />
      <div class="row">
          <div class="col-md-4"  >
            <form class="inputForm" ng-submit="addMovieData(movie)" ng-controller="InputController" >
              <input type="text" ng-model="movie.name">
              <!-- <div class="form-group">
                <label>Movie:</label><br /><input type="text" ng-model="movie.name" placeholder="name"/>
              </div><br />
               <div class="form-group">
                <label>Description</label><br /><input type="text" ng-model="movie.desc" />
              </div>
              <div class="form-group">
                <b>Director</b><br /><input type="text" ng-model="movie.director" />
              </div>
              <div class="form-group">
                <b>Duration</b><br /><input type="text" ng-model="movie.duration" />
              </div>
              <div> -->
                <input type="submit" id="submit" value="Submit" />
              <!--  <input value="Submit" type="submit" class="btn btn-primary">-->
              <!--</div>-->
            </form>
          </div>
          <div class="col-md-8" ng-controller="OutputController" ng-repeat="movie in MovieSet">
            {{movie.name}}

          </div>
      </div>
    </div>

    <!-- <div ng-controller="row InputData">

    </div> -->

  </body>
</html>
